{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{userdata.first_name}} {{userdata.last_name}}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link  href="{% static 'assetss/img/favicon.png' %}" rel="icon">
  
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'main_cards/demo/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'main_cards/demo/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'main_cards/demo/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'main_cards/demo/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'main_cards/demo/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'main_cards/demo/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'main_cards/demo/assets/css/style.css' %}" rel="stylesheet">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
/>

  <!-- =======================================================
  * Template Name: iPortfolio - v3.8.1
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<style>
  #hero{
background:url('media/{{userdata.profile}}') top center !important;
background-repeat: no-repeat !important;

  }
</style>
<body >

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="media/{{userdata.profile}}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light">{{userdata.first_name}} {{userdata.last_name}} <br>{{userdata.designation}}</h1>
        <div class="social-links mt-3 text-center">
          <a href="{{userdata.skype}}" class="google-plus"><i class="bx bxl-skype"></i></a>

          <a href="{{userdata.fb}}" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="{{userdata.ig}}" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="{{userdata.linkedin}}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://wa.me/{{userdata.wp}}" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-male-female"></i> <span>About</span></a></li>
          
          <li><a href="#products" class="nav-link scrollto"><i class="bx bx-grid"></i> <span>products</span></a></li>
          <li><a href="#service" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Services</span></a></li>
          <li><a href="#payment" class="nav-link scrollto"><i class="bx bx-dollar"></i> <span>Payment</span></a></li>
          <li><a href="#photogallery" class="nav-link scrollto"><i class="bx bx-photo-album"></i> <span>Photo Gallery</span></a></li>
          <li><a href="#videogallery" class="nav-link scrollto"><i class="bx bx-video"></i> <span>Video Gallery</span></a></li>
          <li><a href="#feedback" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Feedbacks</span></a></li>
          <li><a href="#complaint" class="nav-link scrollto"><i class="bx bx-hand"></i> <span>Complaint</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>{{userdata.organization}}
      </h1>
      <p>I'm <span class="typed" data-typed-items="the {{userdata.designation}} of {{userdata.organization}},A Bussinessman"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <div class="container mt-3 d-flex justify-content-center">
        <form id="login" onsubmit="process(event)">
          <h5>Enter phone number with country code:</h5>
          <input id="phone" type="tel" class="form-control" name="phone" required />
          <input type="submit" class="btn btn-sm btn-outline-success" value="Share On whatsapp" />
           <!-- AddToAny BEGIN -->

           <!-- AddToAny END -->
          </form>
          <div class="alert alert-info" style="display: none;"></div>
          
        </div>
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style d-flex justify-content-center mt-3">
          <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
          <a class="a2a_button_copy_link"></a>
          <a class="a2a_button_facebook"></a>
          </div>
        <script async src="{% static 'assetss/js/page.js' %}"></script>
    <!-- ======= About Section ======= -->
    <section id="about" class="about pb-0">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>{{userdata.aboutme}}.</p>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="products" class="facts">
      <div class="section-title">
        <h2>Products</h2>
      </div>
      <div class="container">
        <div class="row">
        {% for p in prod  %}
          
        <div class="card col-lg-4 mb-2 " >
          <img src="media/{{p.product_img}}" class="card-img-top" alt="No Image" style="height: 242px !important; padding: 5px;">
          <div class="card-body">
            <h5 class="card-title">{{p.product_name}}</h5>
            <p class="card-text">{{p.desc}}</p>
            <a href="#" class="btn btn-outline-primary align-self-center">Enquiry</a>
          </div>
        </div>
        {% empty %}
        <h3 class="text-center">No Products</h3>
        {% endfor %}
      </div>
      </div>
    </section>
    <section id="service" class="facts">
      <div class="section-title">
        <h2>Services</h2>
      </div>
      <div class="container">
        <div class="row">
        {% for s in serv  %}
          
        <div class="card col-lg-4 mb-2 " >
          <img src="media/{{s.service_img}}" class="card-img-top" alt="No Image" style="height: 242px !important; padding: 5px;">
          <div class="card-body">
            <h5 class="card-title">{{s.service_name}}</h5>
            <p class="card-text">{{s.service_desc}}</p>
          </div>
        </div>
        {% empty %}
        <h3 class="text-center">No Services</h3>
        {% endfor %}
      </div>
      </div>
    </section>
    <!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="payment" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Payment</h2>
          <p>{{userdata.bank_details}}</p>
        </div>

   <div class="text-center">
    <img src="/media/{{userdata.paymentQR}}" alt="No image" height="255px">
   </div>

      </div>
    </section><!-- End Skills Section -->

    <section id="photogallery" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Photo Gallery</h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Photo Gallery</li>
              <!-- <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li> -->
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100" >

         
          {% for g in gal %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-all">
            <div class="portfolio-wrap">
              <img src="media/{{g.gallery_img}}" class="img-fluid" alt="No Image" style="height: 282px !important">
              <div class="portfolio-links">
                <a href="media/{{g.gallery_img}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{g.gallery_name}}"><i class="bx bx-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
              </div>
            </div>
          </div>
          {% empty %}
          <h4 class="text-center">No Images To Show</h4>
          {% endfor %}


        </div>

      </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="videogallery" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Video Gallery</h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Video Gallery</li>
              <!-- <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li> -->
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100" >

         
          {% for vg in vgal %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-all">
            <div class="portfolio-wrap">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{vg.vgallery_link}}" allowfullscreen style="height: 252px !important;width: 352px !important;"></iframe>
              </div>
              <div class="portfolio-links">
                <a href="media/{{vg.vgallery_link}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{vg.vgallery_name}}"><i class="bx bx-plus"></i></a>
                <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
              </div>
            </div>
          </div>
          {% empty %}
          <h4 class="text-center">No Images To Show</h4>
          {% endfor %}


        </div>

      </div>
    </section><!-- End Portfolio Section -->

   

    <!-- ======= Testimonials Section ======= -->
    <section id="feedback" class="testimonials section-bg">
      <div class="container  justify-content-center">

        <div class="section-title">
          <h2>Feedbacks</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            {% for f in feed  %}

            <div class="swiper-slide">
                
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <span>{{f.fb_title}}</span><br>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                 {{f.fb_desc}}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>{{f.client_name}}</h3>
                <h4>{{f.fb_date.date}}</h4>
              </div>
            

            </div>
            {% empty %}
            <h3>No Feedback Is Given</h3>
            {% endfor %}<!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>
        <h3>Give Feedback</h3>
        <div class="col-lg-12 mt-5 mt-lg-0 align-items-stretch" >
          <form action="#" method="post" role="form" >
            <div class="row">
              <div class="form-group col-md-6">
                <label for="cname">Your Name</label>
                <input type="text" name="name" class="form-control" id="cname" required>
              </div>
              <div class="form-group col-md-6">
                <label for="ftitle">Feedback Title</label>
                <input type="text" class="form-control" name="ftitle" id="ftitle" required>
              </div>
            </div>
            <div class="form-group">
              <label for="feed">Fedback</label>
              <input type="text" class="form-control" name="feed" id="feed" required>
            </div>
          
            <div class="text-center"><button type="submit" class="btn btn-outline-primary mt-3">Send Feedback</button></div>
          </form>
        </div>
      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="complaint" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Complaint</h2>
         
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>{{userdata.cus_add1}}</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>{{userdata.user_id.email}}</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>{{userdata.cus_phone}}</p>
              </div>

              <iframe src="{{userdata.gps}}" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <h3>Raise a Complaint</h3>
                <div class="form-group col-md-6 ">
                  <label for="name">Complaint Title</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Complaint</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
            
              <div class="text-center mt-3"><button type="submit">Raise Complaint</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" style="position:relative; bottom:0; padding: 0;align-items: center;">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <script>document.write(new Date().getFullYear())</script> <span><strong></strong>The Era Of Cards </strong></span>All Rights Reserved.
      </div>
      <div class="credits">
        Designed by <a href="https://www.linkedin.com/in/harsh-surela-2b73aa21a/" target="_blank">Harsh Surela</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'main_cards/demo/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'main_cards/demo/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'main_cards/demo/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'main_cards/demo/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'main_cards/demo/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'main_cards/demo/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'main_cards/demo/assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'main_cards/demo/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'main_cards/demo/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
  <script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
      utilsScript:
        "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
  </script>
  
  <script src="{% static 'main_cards/demo/assets/js/main.js' %}"></script>

</body>

</html>