{% extends "dashboard/master.html" %} {% load static %}
{% block title %}
<title>Edit Video Gallery | The Era Of Cards</title>
  
{% endblock title %}
 {% block body %}
 <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Update Video Gallery</h4>
        <p class="card-description">Video Gallery Info </p>
        <form class="forms-sample" action="{% url 'editvgallery' vgal.id %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputName1">Video Name</label>
            <input type="text" value="{{vgal.vgallery_name}}" name="vgname" class="form-control" id="exampleInputName1" placeholder="Video Name">
          </div>
          <div class="form-group">
            <label for="exampleInputName2">YouTube Video Link</label>
            <input type="text" value="{{vgal.vgallery_link}}" name="vglink" class="form-control" id="exampleInputName2" placeholder="YouTube Video Link">
          </div>
          
          <div class="form-switch form-group">
            {% if vgal.status == "active" %}
            <input class="form-check-input" type="checkbox" name="status" id="flexSwitchCheckChecked" checked>
            {% else %}
            <input class="form-check-input" type="checkbox" name="status" id="flexSwitchCheckChecked" >
            {% endif %}
            <label class="form-check-label mt-1" for="flexSwitchCheckChecked">Active</label>
          </div>
          <button type="submit" class="btn btn-primary me-2">Update Video Gallery</button>
        </form>
      </div>
    </div>
  </div>
{% endblock body %}
