{% extends "dashboard/master.html" %} {% load static %}
{% block title %}
<title>Edit Video Gallery | The Era Of Cards</title>
  
{% endblock title %}
 {% block body %}
 <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Update Video Gallery</h4>
        <p class="card-description">Video Gallery Info </p>
        <form class="forms-sample" action="{% url 'editvgallery' vgal.id %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputName1">Video Name</label>
            <input type="text" value="{{vgal.vgallery_name}}" name="vgname" class="form-control" id="exampleInputName1" placeholder="Video Name">
          </div>
          <div class="form-group">
            <label for="exampleInputName2">YouTube Video Link</label>
            <input type="text" value="{{vgal.vgallery_link}}" name="vglink" class="form-control" id="exampleInputName2" placeholder="YouTube Video Link">
          </div>
          
          <div class="form-group">
            <label for="exampleInputPassword4">Status</label>
            <select name="status" id="" class="form-control">
              <!-- <option value="{{prod.status}}" selected disabled>{{prod.status}}</option> -->
              {% if vgal.status == "Active" %}
              <option value="Active" selected>Active</option>
              <option value="Deactive">Deactive</option>
              {% else %}
                <option value="Active">Active</option>
                <option value="Deactive" selected>Deactive</option>
              {% endif %}

            </select>
          </div>

          <button type="submit" class="btn btn-primary me-2">Update Video Gallery</button>
        </form>
      </div>
    </div>
  </div>
{% endblock body %}
