{% extends "dashboard/master.html" %} {% load static %}
{% block title %}
<title>Features | The Era Of Cards</title>
  
{% endblock title %}
 {% block body %}
 <div class="row">
    <div class="col-md-3 grid-margin stretch-card ">
        
      <div class="card">

        <div class="card-body text-center">
            <label class="form-check-label"><b>Experience System</b></label>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
              </div>
         

        </div>
      </div>
    </div> 
 {% endblock body %}