{% extends "dashboard/master.html" %} {% load static %} 
{% block title %}
<title>Video Gallery | The Era Of Cards</title>
  
{% endblock title %}
{% block body %}
<a href="{% url 'addvgallery' %}"  class="btn btn-primary float-end mb-3">Add New Video</a>

<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Video Gallery</h4>
      <div class="table-responsive">
        <table class="table table">
          <thead>
            <tr>

              <th>ID</th>
              <th>Video Image</th>
              <th>Youtube Video Link</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          {% for g in vgallery %}
          <tbody>
            
            <tr>
                <td>{{forloop.counter}}</td>
              <td>
                {{g.vgallery_name}}
              </td>
              <td>{{g.vgallery_link}}</td>
              <td>
                {% if g.status == "Active" %}
                <h5 class="text-success">Active</h5>
                {% else %}
              <h5 class="text-danger">Deactive</h5>

                {% endif %}
              </td>
              <td>
            
                <a  href="{% url 'editvgallery' g.id %}" type="button" class="btn btn-warning btn-icon-text"> Edit <i class="mdi mdi-file-check btn-icon-append"></i>
                </a>
                <button type="button" class="btn btn-danger btn-icon-text vgal" value="{{g.id}}">
                  <i class="mdi mdi-alert btn-icon-prepend"></i> Delete </button>
              </td>
              
            </tr>
         

          </tbody>
          {% empty %}
          <tr>
<td></td>
<td></td>
<td class="text-center">No Records</td>
<td></td>
<td></td>
<td></td>
          </tr>

             {% endfor %}
        </table>
        
      </div>
    </div>
  </div>
</div>


  <script>
     $(".vgal").click(function () {
    swal({
    title: 'Are you sure?',
    text: 'Once deleted, you will not be able to recover this record!',
    icon: 'warning',
    buttons: true,
    dangerMode: true,
  })
    .then((willDelete) => {
      if (willDelete) {
        
     
        var url="{% url 'delvgal' 123 %}";
        var id=$(this).attr("value");
        console.log(id);
        window.location.href=url.replace('123', id);
      } else {
        swal('Your Record is safe!');
      }
    });
  });
  </script>
  {% if messages %}
  {% for message in messages %}
  <script>
      $(document).ready(function(){
          swal("{{message.tags}}", "{{message}}", "{{message.tags}}");
          
      });
  
  
  </script>
{% endfor %}
{% endif %}
{% endblock body %}
